#love_title {
    font-family: 'Allison', cursive;
    font-size: 60px;
}

#love_song {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 40px;
}

#thank_you_note {
    font-family: 'Allison', cursive;
    font-size: 36px;
}
